.style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 12%
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: 20px;
}


