.title {
    font-size: 70px;
    font-width: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: #fff;
}

/*полоска под тайтлом*/
.title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;

    background-color: #fff;
    /*отступ сверху 20, слева справа авто снизу 25*/
    margin: 20px auto 25px;

}

.inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    text-align: center;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    /*толщина рамки и цвет*/
    border: 3px solid #fff;
    /*отступы от рамки*/
    padding: 8px 25px;

    position: relative;
    color: #fff;
    text-decoration: none;
    /*при изменении цвета он будет проиходить плавно*/
    transition: color 0.2s linear;
}

.button:after {
     /*плавное отображение при отрисовке*/
    transition: opacity 0.2s linear;
}
.button:hover {
    color: black;
    /*border-color: black;*/
    background-color: rgba(255, 255, 255, 0.3);
    transition: color 0.3s linear, background-color 0.3s linear;
}
/*показать полоску после наведения*/
.button:hover:after {
    opacity: 1;
}

.slider {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.slider__item {
    padding: 20px 0;

    border-top: 3px solid #fff;

    position: relative;

    opacity: 70%;
    width: 23%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}
.slider__num {
    font-size: 24px;
    font-weight: 700;
}

.slider__item__active {
    padding: 20px 0;
    border-top: 3px solid #fff;
    position: relative;
    opacity: 70%;
    width: 23%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    opacity: 1;
}
.slider__item__active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    background-color: #f38181;
}