.title {
    font-size: 70px;
    font-width: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: #fff;
}

/*полоска под тайтлом*/
.title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;

    background-color: #fff;
    /*отступ сверху 20, слева справа авто снизу 25*/
    margin: 20px auto 25px;

}

.inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    text-align: center;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    /*толщина рамки и цвет*/
    border: 3px solid #fff;
    /*отступы от рамки*/
    padding: 8px 25px;

    position: relative;
    color: #fff;
    text-decoration: none;
    /*при изменении цвета он будет проиходить плавно*/
    transition: color 0.2s linear;
}

.button:after {
     /*плавное отображение при отрисовке*/
    transition: opacity 0.2s linear;
}
.button:hover {
    color: #fce38a;
    border-color: #fce38a;
}
/*показать полоску после наведения*/
.button:hover:after {
    opacity: 1;
}